body *{
    box-sizing: border-box;
}
#container{
    background-color: #C5C5C5;
}
header{
    height: 90px;
}
a #logo{
    width: 90px;
    display: inline-flex;
    border-radius: 5px;
}
#h-left{
    height:80px;
    position:absolute;
}
#Name{
    position:relative;
    left:10px;
    top:-20%;
}
#Name h1{
    display: inline-flex;
    font-size: 70px;
    font-family: fantasy;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: 0px;
}
@media only screen and (max-width: 768px){
    #container{
        background-color: black;
    }
}



.slider {
    width: 311px;
    height: 197px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.slides {
    display: flex;
    width: calc(311px * 3);
    transition: transform 1s ease-in-out;
}
.slides img {
    width: 311px;
    height: 197px;
}


